<!DOCTYPE html>
<html>
  <head>
    <title>Moj servis></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form method="POST">
    <h1>Pretraga</h1>
    <p> Pretraga <input name="randomSearch"> </p>
    <button type="Submit">Submit</button>
    <p> Rezultat <input name="resultOfSearch"> </p>
  </form>
  </body>
</html>
