@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main-page {
    width: 100px;
    float: right;
}

.main-form button {
    float: right;
    font-family: "Roboto", sans-serif;
    border: 0px;
    background: #c0392b;
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.main-form button:hover,.form button:active,.form button:focus {
    background: #e74c3c;
}

.checkForm
{
    position: relative;
    left: 250px;
    top: 5px;
}

 table {
     position: relative;
     left: 250px;
     top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
     border-color: #FFFFFF;
    width: 70%;
}
tr:nth-child(even){
    background-color:  #f2f2f2;}

td, th {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #c0392b;
    color:#FFFFFF;;
}
tr:hover{
    background-color: #ddd;
}
tr {
    cursor: hand;
    cursor: pointer;
}


body {
    display: none;
/* background: linear-gradient(to left, #95a5a6, #7f8c8d); */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}