@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    display: none;
}

.order-Form {
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.userInputPart {
    position: relative;
    top: 40px;
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.userInputPart button
{
    position: relative;
    left: 50%;
    top: 10px;
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    border: 0px;
    background: #c0392b;
    width: fit-content;
    padding: 7px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.userInputPart input {
    width:680px;
    font-family: arial, sans-serif;
    font-size: large;
}
.userInputPart h1{
    width: 745px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: medium;
    text-decoration: none;
    background-color: #c0392b;
    color: #FFFFFF;
    padding: 2px 6px 2px 6px;
}
.firstTable table{
    width: 100%;
    font-family: arial, sans-serif;
    font-size: large;
    border-collapse: collapse;
    border-color: #000000;
}
.firstTable td {
    width: 350px;
    max-width: 450px;
    font-size: large;
    text-align: left;
    padding: 8px;
}
.firstTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0392b;
    color: white;
}
.firstTable tr:nth-child(even){
    background-color:  #f2f2f2;}

.logOutClass {
    position: relative;
    top: 100px;
    float: right;
}
.logOutButtonClass button {
    float: right;
    position: relative;
    top: -5px;
    font-family: "Roboto", sans-serif;
    border: 0px;
    background: #c0392b;
    width: fit-content;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.user-Form {
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.user-Form table
{
    width: 100%;
    position: relative;
    top: 5px;
    font-family: arial, sans-serif;
    font-size: large;
    border-color: #000000;
}
.user-Form td {
    width: 300px;
    max-width: 300px;
    font-size: large;
    text-align: left;
    padding: 8px;
}
.user-Form th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0392b;
    color: white;
}
.user-Form tr:nth-child(even){
    background-color:  #f2f2f2;}
.car-Form {
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.car-Form table
{
    width: 100%;
    position: relative;
    font-family: arial, sans-serif;
    font-size: large;
    border-color: #000000;
}
.car-Form td {
    width: 300px;
    max-width: 400px;
    font-size: large;
    text-align: left;
    padding: 8px;
}
.car-Form th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c0392b;
    color: white;
}
.car-Form tr:nth-child(even){
    background-color:  #f2f2f2;}